.card {
    margin: 1.5rem 1.5rem 1.5rem 0;
    padding: 1.5rem;
    width: 280px;
    box-shadow: 0 0 28px 4px rgba(0,0,0,0.1);
    transition: transform .3s ease;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.1);
}

.card__title {
    font-weight: 700;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.card__footer {
    display: flex;
    justify-content: flex-end;
    
}

.badge {
    justify-content: center;
    width: 70px;
    height: 45px;
    border: 2px dotted black;
    border-radius: 20%;
    margin: 0 auto;
    margin-bottom: 10px;
}

.firstInit {
    font-size: 30px;
    color: black;
    font-weight: initial;
    
}

.lastInit {
    font-size: 30px;
    color: black;
    font-weight: initial;
    
}


