 /* .container {
  display: grid;
  grid-template-columns: auto 800px 200px auto;
  grid-template-rows: 0.8fr auto auto 0.3fr;
  gap: 5px 5px;
  grid-auto-flow: row;
  grid-template-areas:
    "Header Header Header Header"
    ". EmployeeTitle Button ."
    ". EmployeeCards EmployeeCards ."
    "Footer Footer Footer Footer";
} */

.Header { 
  padding: 20px; 
  background-color: #efefef;
  border-bottom: solid  #ccc 1px;
  text-align: center;
  font-size: 2rem;
}

.LogoImg{
  width: 18rem;
}

.Footer { 
  border-top: solid  #ccc 1px;
  padding: 10px;
  text-align: center;
  font-size: 1rem;
  background-color: #efefef;
} 

a {
  text-decoration: none;
  color: #111;
}

a:hover {
  text-decoration: none;
  color: rgb(116, 143, 184);
}

.EmployeeList {
  display: flex;
  flex-wrap: wrap;
 }

 .NavBar {
   background-color: rgb(116, 143, 184);
   padding: 10px;
   color: #ffffff;
   box-shadow: 0 0 28px 4px rgba(0,0,0,0.1);
   text-align: center;
 }

 .AddIcon {
  position: relative;
  top: 5px;
 }

 .AddText {
   font-size: 1rem;
   display: inline-table;
   padding: 5px;
 }


 .card {
  margin: 1.5rem 1.5rem 1.5rem 0;
  padding: 1.5rem;
  width: 280px;
  box-shadow: 0 0 28px 4px rgba(0,0,0,0.1);
  transition: transform .3s ease;
  cursor: pointer;
  background-color: rgb(214, 224, 240);
}

.card:hover {
  transform: scale(1.1);
}

.cardTitle {
  font-weight: 700;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.cardFooter {
  display: flex;
  justify-content: flex-end;
  
}

.badge {
  justify-content: center;
  width: 70px;
  height: 45px;
  border: 2px dotted black;
  border-radius: 70%;
  margin: 0 auto;
  margin-bottom: 10px;
  background-color: rgb(238, 242, 248);
}

.firstInit {
  font-size: 30px;
  color: black;
  font-weight: initial;
  
}

.lastInit {
  font-size: 30px;
  color: black;
  font-weight: initial;
  
}

.editIcon:hover {
  color: darkorange;
}

.deleteIcon:hover {
  color:brown;
}

